/**
 *
 * FILE			main.css
 * DATE			2016-03-29
 * AUTHOR		Fabio Marciano
 *
**/

* {
	margin:0px;
	padding:0px;
	border:0px;
	outline:none;
}

HTML {
	font-family:"", sans-serif;
}

BODY {
	font-size:10px;
	background:#FFF;
}

UL {
	list-style-type:none;
}

#action-cross-main, #action-cross-header, #action-cross-body {
	position:relative;
}

#action-cross-body {
	z-index:1;
}

#action-cross-main {
	width:940px;
}

#action-cross-header {
	z-index:2;
	margin-bottom:67px;
}

#action-cross-header IMG {
	display:block;
}

#action-cross-header BUTTON {
	position:absolute;
}

#action-cross-header BUTTON {
	display:block;
	width:350px;
	height:82px;
	left:50%;
	bottom:15px;
	margin-left:-175px;
	background:url("../media/btn-assine-ja.png") center center no-repeat;
	cursor:pointer;
}

#action-cross-header BUTTON {
	text-indent:-9999em;
	overflow:hidden;
	color:transparent;
	font-size:0em;
}

#action-cross-body H3 {
	font-size:3.2em;
	font-weight:100;
	text-transform:uppercase;
	text-align:center;
	margin-bottom:40px;
}

#action-cross-body H3 STRONG {
	font-size:1.5em;
	font-weight:bold;
}

#action-cross-body H3 EM {
	font-style:normal;
	font-size:1.2em;
	font-weight:normal;
	background:#333;
	color:#FF0;
	display:block;
	clear:both;
}

#action-cross-body P {
	background:#333;
	color:#FFF;
	font-size:3.2em;
	display:block;
	clear:both;
}

#action-cross-body UL {
	width:650px;
	margin:0px auto;
	padding-top:50px;
}

#action-cross-body LI {
	float:left;
	width:325px;
	margin:0px 0px 5px 0px;
}

#action-cross-body LI A, #action-cross-body LI IMG {
	display:block;
}

#frm-offer {
	position:absolute;
	left:35px;
	right:35px;
	top:50px;
	bottom:10px;
	background:url("../media/bkg-magnifier.png") right bottom no-repeat;
}

#frm-offer H2 {
	width:590px;
	font-size:2.0em;
	line-height:1.4em;
	font-weight:300;
	text-align:center;
	margin:0px auto 25px auto;
}

#frm-offer FIELDSET {
	width:500px;
	margin:0px auto;
}

#frm-offer FIELDSET INPUT, #frm-offer FIELDSET BUTTON {
	display:block;
	float:left;
	margin-right:12px;
}

#frm-offer FIELDSET INPUT {
	width:234px;
	height:34px;
	text-align:center;
	color:#000;
}

#frm-offer FIELDSET BUTTON {
	width:95px;
	height:33px;
	background:url("../media/btn-validar.png") center center no-repeat;
	cursor:pointer;
}

#frm-offer FIELDSET BUTTON {
	text-indent:-9999em;
	overflow:hidden;
	color:transparent;
	font-size:0em;
}