/**
 *
 * FILE:	modal.css
 * DATE:	2015-06-15
 * AUTHOR:	Fabio Marciano
 *
**/

#modal {
	font-family:"Roboto", sans-serif;
	position:fixed;
	top:0px;
	right:0px;
	bottom:0px;
	left:0px;
	background:url("../media/alpha.png");
	z-index:9;
}
#modal > DIV {
	position:absolute;
	background:#e8e4e4;
	box-shadow:0px 0px 5px #333;
}

#modal .btn-close {
	position:absolute;
	display:block;
	right:10px;
	top:10px;
	width:32px;
	height:32px;
	background:url("../media/ico-close.png") center center no-repeat;
}

#modal H3 {
	font-size:2.0em;
	font-weight:300;
	text-align:center;
	margin-bottom:20px;
}

.loading {
	text-align:center;
	font-size:2.0em;
	background-image:url("../media/loader.gif");
	background-position:center 60px;
	background-repeat:no-repeat;
	padding:20px 0px 0px 0px;
	height:90px;
}

#modal .btn-close {
	text-indent:-9999em;
	overflow:hidden;
	color:transparent;
	font-size:0em;
	cursor:pointer;
}